.icon {
  position: absolute;
  left: 18px; /* Розміщення іконки по горизонталі */
  top: 50%; /* Вертикальне центрування іконки */
  transform: translateY(-50%); /* Коригування для вертикального центрування */
  fill: gray; /* Колір іконки */
}
