.wrapForm {
  width: 448px;
  padding: 24px;
  gap: 24px;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  opacity: 0px;
}

.caption {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(71, 84, 103, 1);
  margin-bottom: 24px;
}

.formWrap {
  display: flex;
  flex-direction: column;
  gap: 14px;
  /* width: 350px; */
}

.text {
  font-size: 16px;
  font-weight: 500;
  color: darkgray;
  margin-top: 10px;
}

.fieldInput {
  width: 400px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 18px;
  gap: 10px;
  background-color: rgba(247, 247, 247, 1);
}

.fieldInputComment {
  width: 400px;
  height: 114px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 18px;
  gap: 10px;
  background-color: rgba(247, 247, 247, 1);
  margin-bottom: 24px;
}
// .wraper {
//   margin-bottom: 25px;
//   display: flex;
//   flex-direction: column;
// }
