.wrapForm {
  width: 448px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 14px;
  border-radius: 10px;
  border: 1px solid rgba(16, 24, 40, 0.2);
}

.caption {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  text-align: left;
  margin-bottom: 8px;
}

.description {
  font-size: 16px;
  line-height: 24px;
  text-align: left;
  color: rgba(71, 84, 103, 1);
  margin-bottom: 24px;
}

.formWrap {
  display: flex;
  flex-direction: column;
}

.text {
  font-size: 16px;
  font-weight: 500;
  color: darkgray;
  margin-top: 10px;
}

.fieldInput {
  width: 400px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 18px;
  background-color: rgba(247, 247, 247, 1);
  display: flex;
  justify-content: space-between;
  position: relative;
}

.fieldInputComment {
  width: 400px;
  height: 114px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 18px;
  gap: 10px;
  background-color: rgba(247, 247, 247, 1);
  margin-bottom: 24px;
}

.dateInput {
  position: absolute;
  opacity: 0;

  width: 400px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  padding: 18px;
  gap: 10px;
  background-color: rgba(247, 247, 247, 1);
}

.error {
  color: red;
  margin-top: 5px;
}

span {
  color: red;
}

.datePickerContainer {
  position: relative;
  display: inline-block;
}

.iconDate {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Іконка не заважає взаємодії з полем */
}
