.link {
  border-radius: 100px;
  background-color: $red;
  display: flex;
  padding: 16px 40px;
  justify-content: center;
  align-items: center;
  width: 160px;
  font-size: 16px;
  color: $white;
  transition:
    background-color $animation-duration $animation-time-function,
    font-weight $animation-duration $animation-time-function;

  @include font(14, 20);
  font-weight: 500;
  outline: transparent;

  &:hover,
  &:focus {
    background-color: $red-hover;
    color: $white;
    font-weight: 700;
  }

  @include media(tablet) {
    // width: 173px;
  }

  @include media(desktop) {
    // width: 242px;
  }
}
